	<!-- Blog section -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-posts">
                <div class="row">
                    @foreach (Post Post in ViewBag.Post)
                    {
                        <div class="col-md-6">
                            <div class="blog-post">
                                <img src="~/img/blog/2.jpg" alt="">
                                <div class="post-date">@Post.CreatedDate.ToString("d MMM yyyy")</div>
                                <h4>@Post.Title</h4>
                                <div class="post-metas">
                                    <div class="post-meta">By <a asp-action="user" asp-route-id="@Post.User.Id" asp-controller="account">@Post.User.Name</a></div>
                                    <div class="post-meta">in <a asp-action="singleCategory" asp-route-id="@Post.CategoryId" asp-controller="home">@Post.Category.Title</a></div>
                                    <div class="post-meta">@Post.Comments.Count Comments</div>
                                </div>
                                <p></p>
                                <a asp-action="single" asp-route-id="@Post.Id" asp-controller="home" class="site-btn">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>
<!-- Blog section end -->
