	<!-- Blog section -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-posts">
                <div class="row">
                    @foreach (Post Post in ViewBag.Post)
                    {
                        <div class="col-md-6">
                            <div class="blog-post">
                                <img src="~/img/blog/2.jpg" alt="">
                                <div class="post-date">@Post.CreatedDate.ToString("d MMM yyyy")</div>
                                <h4>@Post.Title</h4>
                                <div class="post-metas">
                                    <div class="post-meta">By <a asp-action="user" asp-route-id="@Post.User.Id" asp-controller="account">@Post.User.Name</a></div>
                                    <div class="post-meta">in <a asp-action="categorysingle" asp-route-id="@Post.CategoryId" asp-controller="home">@Post.Category.Title</a></div>
                                    <div class="post-meta">@Post.Comments.Count Comments</div>
                                </div>
                                <p></p>
                                <a asp-action="single" asp-route-id="@Post.Id" asp-controller="home" class="site-btn">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>
<!-- Blog section end -->
<!-- Blog list section -->
<section class="blog-list-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="small-blog-list">
                    <div class="sb-item">
                        <img src="~/img/blog-thumbs/6.jpg" alt="">
                        <div class="sb-text">
                            <div class="sb-date">April 1,2019</div>
                            <h6>10 Amazing new games</h6>
                            <div class="sb-metas">
                                <div class="sb-meta">By Admin</div>
                                <div class="sb-meta">in <a href="#">Games</a></div>
                                <div class="sb-meta">3 Comments</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                        </div>
                    </div>
                    <div class="sb-item">
                        <img src="~/img/blog-thumbs/7.jpg" alt="">
                        <div class="sb-text">
                            <div class="sb-date">April 1,2019</div>
                            <h6>10 Amazing new games</h6>
                            <div class="sb-metas">
                                <div class="sb-meta">By Admin</div>
                                <div class="sb-meta">in <a href="#">Games</a></div>
                                <div class="sb-meta">3 Comments</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                        </div>
                    </div>
                    <div class="sb-item">
                        <img src="~/img/blog-thumbs/8.jpg" alt="">
                        <div class="sb-text">
                            <div class="sb-date">April 1,2019</div>
                            <h6>10 Amazing new games</h6>
                            <div class="sb-metas">
                                <div class="sb-meta">By Admin</div>
                                <div class="sb-meta">in <a href="#">Games</a></div>
                                <div class="sb-meta">3 Comments</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                        </div>
                    </div>
                    <div class="sb-item">
                        <img src="~/img/blog-thumbs/9.jpg" alt="">
                        <div class="sb-text">
                            <div class="sb-date">April 1,2019</div>
                            <h6>10 Amazing new games</h6>
                            <div class="sb-metas">
                                <div class="sb-meta">By Admin</div>
                                <div class="sb-meta">in <a href="#">Games</a></div>
                                <div class="sb-meta">3 Comments</div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sb-widget">
                    <h2 class="sb-title">Top 5 this week</h2>
                    <div class="latest-news-widget top-five">
                        <div class="ln-item">
                            <div class="ln-index">01</div>
                            <img src="~/img/blog-thumbs/1.jpg" alt="">
                            <div class="ln-text">
                                <div class="ln-date">April 1, 2019</div>
                                <h6>10 Amazing new games</h6>
                                <div class="ln-metas">
                                    <div class="ln-meta">By Admin</div>
                                    <div class="ln-meta">in <a href="#">Games</a></div>
                                    <div class="ln-meta">3 Comments</div>
                                </div>
                            </div>
                        </div>
                        <div class="ln-item">
                            <div class="ln-index">02</div>
                            <img src="~/img/blog-thumbs/2.jpg" alt="">
                            <div class="ln-text">
                                <div class="ln-date">April 1, 2019</div>
                                <h6>10 Amazing new games</h6>
                                <div class="ln-metas">
                                    <div class="ln-meta">By Admin</div>
                                    <div class="ln-meta">in <a href="#">Games</a></div>
                                    <div class="ln-meta">3 Comments</div>
                                </div>
                            </div>
                        </div>
                        <div class="ln-item">
                            <div class="ln-index">03</div>
                            <img src="~/img/blog-thumbs/3.jpg" alt="">
                            <div class="ln-text">
                                <div class="ln-date">April 1, 2019</div>
                                <h6>10 Amazing new games</h6>
                                <div class="ln-metas">
                                    <div class="ln-meta">By Admin</div>
                                    <div class="ln-meta">in <a href="#">Games</a></div>
                                    <div class="ln-meta">3 Comments</div>
                                </div>
                            </div>
                        </div>
                        <div class="ln-item">
                            <div class="ln-index">04</div>
                            <img src="~/img/blog-thumbs/4.jpg" alt="">
                            <div class="ln-text">
                                <div class="ln-date">April 1, 2019</div>
                                <h6>10 Amazing new games</h6>
                                <div class="ln-metas">
                                    <div class="ln-meta">By Admin</div>
                                    <div class="ln-meta">in <a href="#">Games</a></div>
                                    <div class="ln-meta">3 Comments</div>
                                </div>
                            </div>
                        </div>
                        <div class="ln-item">
                            <div class="ln-index">05</div>
                            <img src="~/img/blog-thumbs/5.jpg" alt="">
                            <div class="ln-text">
                                <div class="ln-date">April 1, 2019</div>
                                <h6>10 Amazing new games</h6>
                                <div class="ln-metas">
                                    <div class="ln-meta">By Admin</div>
                                    <div class="ln-meta">in <a href="#">Games</a></div>
                                    <div class="ln-meta">3 Comments</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog list section end -->

